# Maven
target/
*.ser
*.ec
.mvn/wrapper/maven-wrapper.jar

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

# Eclipse
.classpath
.project
.settings/
.metadata/

# Jekyll
_site/
.jekyll-metadata
.sass-cache/
Gemfile.lock
