[project]
	description = Google Core Libraries for Java 6+
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christian Edward Gruber (cgruber)
[access "refs/for/refs/*"]
	read = group user/Christian Edward Gruber (cgruber)
	push = group user/Christian Edward Gruber (cgruber)
	label-Code-Review = -2..+2 group user/Christian Edward Gruber (cgruber)
	label-Verified = -1..+1 group user/Christian Edward Gruber (cgruber)
	rebase = group user/Christian Edward Gruber (cgruber)
	removeReviewer = group user/Christian Edward Gruber (cgruber)
	submit = group user/Christian Edward Gruber (cgruber)
[access "refs/heads/*"]
	read = group user/Christian Edward Gruber (cgruber)
	create = group user/Christian Edward Gruber (cgruber)
	push = +force group user/Christian Edward Gruber (cgruber)
	pushMerge = group user/Christian Edward Gruber (cgruber)
[access "refs/tags/*"]
	push = +force group user/Christian Edward Gruber (cgruber)
	pushTag = group user/Christian Edward Gruber (cgruber)
	pushSignedTag = group user/Christian Edward Gruber (cgruber)
